/*
font-family: 'Nunito Sans', sans-serif;
*/

footer{
    background-color: #aaa;
}

h1,h2 {
    font-family: 'Nunito Sans', sans-serif;
}

.hero {
    background: url(/materiales/img/pandarojoproductora.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}