<div class="container" style="margin:100px auto;">
  {{!fila 1 }}
  <div class="row">
    <div class="col">
      <p style="float:left;">
        <span>Hola {{usuario}}!</span>
        <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión<i
            class="fa fa-sign-out-alt"></i>
        </a>
      </p>
    </div>
  </div>
  {{! fin fila 1 }}
</div>
{{! fin container }}