.contenedor {
	height: 550px;
	background-color: white;
	/* display: inline-start:flex; */
	

}

.boton {
	background-color: red;
	width: 60px;
	height: 60px;
	size: 40px;
	cursor: pointer;
}

.boton2 {
	background-color: blue;
	width: 60px;
	height: 60px;
	size: 40px;
	cursor: pointer;
}

.boton3 {
	background-color: green;
	width: 60px;
	height: 60px;
	size: 40px;
	cursor: pointer;
}