/*
font-family: 'Nunito Sans', sans-serif;
*/

footer {
    background-color: #aaa;
}

h1,
h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    font-weight: bold;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
}

.hero {
    background: url(../M2U3/img/pandarojoproductora.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 800px;
    color: white;
}

/*inicio de novedades*/
.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a {
    background-color: pink;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    transition: all .3s ease-in-out;
    display: block;

}

.lista-novedades li a:hover {
    color: white;
    background-color: red;
}

.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;

}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

/*fin novedades*/
/*inicio de testimonios*/
.testimonios {
    background-color: red;
    padding-bottom: 4rem !important;
}

.testimonio {
    text-align: center;
    padding: 50px 20px;
}

/*fin de testimonios*/
/* comienzo de nosotros */
.staff {
    background: pink;
}

/* fin de nosotros */
/* inicio de visitanos */
.mapa iframe {
    width: 100%;
    aspect-ratio: 1;
}

/* fin de visitanos */

html {
    scroll-behavior: smooth;
}

.scroll_section {
    margin-top: 150px;
}

#visitanos {
    background-color: red;
}