
<h2>Soy la pagina de Index</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga aperiam maxime fugit hic asperiores
    praesentium atque tempora dolor laboriosam ipsum quod, voluptas expedita voluptatum nam suscipit? Facere, odit quas.
</p>