h1 {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgb(139, 131, 87);

}


h2 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    background-color: rgb(147, 129, 129);
}

h3 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    background-color: rgb(147, 129, 129);
}

h4 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: left;
    background-color: rgb(147, 129, 129);
}

div {
    width: 260px;
    height: 75px;
    font-weight: bold;
    background-color: rgb(147, 129, 129);
    padding: 10px;
    border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    border: 4px double #ebd493;
    text-align: justify;
    padding-bottom: 50px;

}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
}

.destacados {
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.destacados2{
    color: #e81515;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#contenedor {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(67, 60, 60);
    margin: 0 auto;
    width: 98%;
    height: 500px;

}

img {
    margin-right: 110px;
    padding-left: 110px;
}

#contenedor2 {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(224, 214, 163);
    margin: 0 auto;
    width: 98%;
    height: 1200px;
}

#intro {
    /* position:static; */
    margin: 0 auto;
    height: 255px;
    width: 95%;
    border: 1px solid #000000;
    margin-bottom: 20px;
    background-color: #eaebc1;

}

#servicio {
    /* position:static; */
    margin: 0 auto;
    height: 160px;
    width: 95%;
    border: 1px solid #000000;
    margin-bottom: 20px;
    background-color: #eaebc1;
}

#objetivos {
    /* position:static; */
    margin: 0 auto;
    height: 270px;
    width: 95%;
    border: 1px solid #000000;
    margin-bottom: 20px;
    background-color: #eaebc1;
}

#pasos {
    /* position:static; */
    margin: 0 auto;
    height: 230px;
    width: 95%;
    border: 1px solid #000000;
    margin-bottom: 20px;
    background-color: #eaebc1;
}

#contenedor3 {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(67, 60, 60);
    margin: 0 auto;
    width: 98%;
    height: 1160px;
}

#formulario{

/* position:static; */
    margin: 0 auto;
    height: 560px;
    width: 95%;
    border: 1px solid #000000;
    margin-bottom: 20px;
    background-color: #eaebc1;
}